# Expansion plans for CFL Bulb

# Outline

Climate change is a hot button topic in politics and economy. Even Microsoft has pledged to carbon negative by 2030. This has led an explosion in the “Green Industry” these are climate and Eco-friendly products that will help reduce our carbon emissions and energy usage. Compact fluorescent light (CFL) bulbs are an excellent step toward reducing home and office energy usage. These bulbs can last 13 times longer than incandescents, so there's less landfill waste. As an added bonus, CFL bulbs can reportedly customers up to $40 in energy costs per year over incandescent bulbs. There could be a huge market right now for companies that currently produce CFL bulbs hence a conundrum.

# Problem

A classic problem whenever a company wants to expand outside it’s existing geographical market is where do we expand to? Here the reasons for the expansion differ based on a few factors mentioned below: 1) The overall goal or objective: Is the company pursuing expansion without and being profitable in the long term based on scale?(Tech companies like Uber and WeWork fit into this narrative) or are they targeting a new region that will be as profitable as their current reach and have almost immediate returns 2) The need to enter high growth or high population markets such as the Emerging Markets in order to show steady growth numbers to investors and stakeholders.

Leveraging data from Foursquare it is possible based on the company’s preference to recommend cities or regions with similar features for their expansion. Companies with limited resources but with the aim to expand often need a higher level of certainty that this next region (city or country) will be as profitable as their current ones or in the reverse, avoid cities that are similar to their worst performing regions. From the topic, it is very clear that the interested groups in this research topic are the MSME’s or Mid cap organizations who want to be able to supply CFL bulbs to multiple regions in the U.S but do not have the resources to compete with the massive multi-nationals.
The data will be scraped from https://www.eia.gov/electricity/state/ that contains the electricity costs along with the total electricity generation and consumption. This data will be cross referenced with the Foursquare data to understand the best clusters to target.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import requests

In [6]:
url = requests.get("https://www.eia.gov/electricity/state/").text
soup = BeautifulSoup(url,'lxml')

In [7]:
Table = soup.find('table')

In [8]:
Table1 = Table.find_all('td')

In [9]:
Table1

[<td><a href="../state/alabama">Alabama</a></td>,
 <td>9.63</td>,
 <td>30,118</td>,
 <td>145,057,994</td>,
 <td>90,280,456</td>,
 <td><a href="../state/alaska">Alaska</a></td>,
 <td>19.36</td>,
 <td>2,745</td>,
 <td>6,247,359</td>,
 <td>5,972,467</td>,
 <td><a href="../state/arizona">Arizona</a></td>,
 <td>10.85</td>,
 <td>28,672</td>,
 <td>111,925,144</td>,
 <td>78,346,302</td>,
 <td><a href="../state/arkansas">Arkansas</a></td>,
 <td>7.78</td>,
 <td>14,763</td>,
 <td>67,999,352</td>,
 <td>49,602,708</td>,
 <td><a href="../state/california">California</a></td>,
 <td>16.58</td>,
 <td>75,926</td>,
 <td>195,265,408</td>,
 <td>255,224,272</td>,
 <td><a href="../state/colorado">Colorado</a></td>,
 <td>10.02</td>,
 <td>16,590</td>,
 <td>55,386,279</td>,
 <td>56,450,480</td>,
 <td><a href="../state/connecticut">Connecticut</a></td>,
 <td>18.41</td>,
 <td>9,833</td>,
 <td>39,453,552</td>,
 <td>28,833,925</td>,
 <td><a href="../state/delaware">Delaware</a></td>,
 <td>10.55</td>,
 <td>3,378</td>,
 <td>6,240,644</td>,
 <td>11,773,100</td>,
 <td><a href="../state/districtofcolumbia">District of Columbia</a></td>,
 <td>12.03</td>,
 <td>32</td>,
 <td>79,331</td>,
 <td>11,357,910</td>,
 <td><a href="../state/florida">Florida</a></td>,
 <td>10.32</td>,
 <td>57,359</td>,
 <td>244,252,035</td>,
 <td>238,565,391</td>,
 <td><a href="../state/georgia">Georgia</a></td>,
 <td>9.62</td>,
 <td>36,989</td>,
 <td>129,239,371</td>,
 <td>139,866,074</td>,
 <td><a href="../state/hawaii">Hawaii</a></td>,
 <td>29.18</td>,
 <td>2,811</td>,
 <td>9,796,773</td>,
 <td>9,337,161</td>,
 <td><a href="../state/idaho">Idaho</a></td>,
 <td>8.17</td>,
 <td>5,210</td>,
 <td>18,172,120</td>,
 <td>23,753,508</td>,
 <td><a href="../state/illinois">Illinois</a></td>,
 <td>9.6</td>,
 <td>45,631</td>,
 <td>188,003,357</td>,
 <td>142,654,808</td>,
 <td><a href="../state/indiana">Indiana</a></td>,
 <td>9.75</td>,
 <td>26,696</td>,
 <td>113,459,711</td>,
 <td>104,194,376</td>,
 <td><a href="../state/iowa">Iowa</a></td>,
 <td>8.92</td>,
 <td>18,842</td>,
 <td>63,380,569</td>,
 <td>51,210,655</td>,
 <td><a href="../state/kansas">Kansas</a></td>,
 <td>10.72</td>,
 <td>15,631</td>,
 <td>51,710,213</td>,
 <td>42,036,979</td>,
 <td><a href="../state/kentucky">Kentucky</a></td>,
 <td>8.52</td>,
 <td>20,120</td>,
 <td>78,804,497</td>,
 <td>76,610,636</td>,
 <td><a href="../state/louisiana">Louisiana</a></td>,
 <td>7.71</td>,
 <td>23,162</td>,
 <td>102,128,485</td>,
 <td>94,186,072</td>,
 <td><a href="../state/maine">Maine</a></td>,
 <td>13.44</td>,
 <td>4,864</td>,
 <td>11,280,700</td>,
 <td>12,354,819</td>,
 <td><a href="../state/maryland">Maryland</a></td>,
 <td>11.57</td>,
 <td>14,777</td>,
 <td>43,809,648</td>,
 <td>62,086,455</td>,
 <td><a href="../state/massachusetts">Massachusetts</a></td>,
 <td>18.5</td>,
 <td>12,875</td>,
 <td>27,172,882</td>,
 <td>53,285,029</td>,
 <td><a href="../state/michigan">Michigan</a></td>,
 <td>11.4</td>,
 <td>29,720</td>,
 <td>115,837,095</td>,
 <td>104,869,496</td>,
 <td><a href="../state/minnesota">Minnesota</a></td>,
 <td>10.37</td>,
 <td>16,954</td>,
 <td>61,517,441</td>,
 <td>68,708,382</td>,
 <td><a href="../state/mississippi">Mississippi</a></td>,
 <td>9.24</td>,
 <td>14,733</td>,
 <td>63,473,771</td>,
 <td>50,390,068</td>,
 <td><a href="../state/missouri">Missouri</a></td>,
 <td>9.93</td>,
 <td>21,078</td>,
 <td>85,095,384</td>,
 <td>82,055,835</td>,
 <td><a href="../state/montana">Montana</a></td>,
 <td>8.84</td>,
 <td>6,356</td>,
 <td>28,212,831</td>,
 <td>14,838,845</td>,
 <td><a href="../state/nebraska">Nebraska</a></td>,
 <td>9.02</td>,
 <td>8,984</td>,
 <td>36,966,216</td>,
 <td>30,939,492</td>,
 <td><a href="../state/nevada">Nevada</a></td>,
 <td>8.67</td>,
 <td>11,494</td>,
 <td>39,640,241</td>,
 <td>37,780,263</td>,
 <td><a href="../state/newhampshire">New Hampshire</a></td>,
 <td>17.01</td>,
 <td>4,469</td>,
 <td>17,087,156</td>,
 <td>11,046,284</td>,
 <td><a href="../state/newjersey">New Jersey</a></td>,
 <td>13.23</td>,
 <td>17,403</td>,
 <td>75,033,600</td>,
 <td>76,016,762</td>,
 <td><a href="../state/newmexico">New Mexico</a></td>,
 <td>9.35</td>,
 <td>8,431</td>,
 <td>32,673,682</td>,
 <td>24,048,611</td>,
 <td><a href="../state/newyork">New York</a></td>,
 <td>14.83</td>,
 <td>41,124</td>,
 <td>132,520,501</td>,
 <td>149,929,851</td>,
 <td><a href="../state/northcarolina">North Carolina</a></td>,
 <td>9.25</td>,
 <td>34,178</td>,
 <td>134,249,497</td>,
 <td>138,287,404</td>,
 <td><a href="../state/northdakota">North Dakota</a></td>,
 <td>8.91</td>,
 <td>8,381</td>,
 <td>42,615,321</td>,
 <td>20,669,506</td>,
 <td><a href="../state/ohio">Ohio</a></td>,
 <td>9.94</td>,
 <td>29,142</td>,
 <td>126,184,610</td>,
 <td>152,915,167</td>,
 <td><a href="../state/oklahoma">Oklahoma</a></td>,
 <td>8.09</td>,
 <td>27,401</td>,
 <td>86,223,721</td>,
 <td>64,575,316</td>,
 <td><a href="../state/oregon">Oregon</a></td>,
 <td>8.85</td>,
 <td>16,590</td>,
 <td>64,113,560</td>,
 <td>49,325,904</td>,
 <td><a href="../state/pennsylvania">Pennsylvania</a></td>,
 <td>10.1</td>,
 <td>48,558</td>,
 <td>215,385,830</td>,
 <td>148,976,731</td>,
 <td><a href="../state/rhodeisland">Rhode Island</a></td>,
 <td>18.1</td>,
 <td>1,958</td>,
 <td>8,375,257</td>,
 <td>7,583,339</td>,
 <td><a href="../state/southcarolina">South Carolina</a></td>,
 <td>9.67</td>,
 <td>23,662</td>,
 <td>99,364,088</td>,
 <td>81,641,138</td>,
 <td><a href="../state/southdakota">South Dakota</a></td>,
 <td>9.97</td>,
 <td>4,169</td>,
 <td>12,616,396</td>,
 <td>12,856,938</td>,
 <td><a href="../state/tennessee">Tennessee</a></td>,
 <td>9.58</td>,
 <td>21,349</td>,
 <td>81,554,917</td>,
 <td>102,911,183</td>,
 <td><a href="../state/texas">Texas</a></td>,
 <td>8.48</td>,
 <td>122,159</td>,
 <td>477,352,425</td>,
 <td>424,418,628</td>,
 <td><a href="../state/utah">Utah</a></td>,
 <td>8.21</td>,
 <td>9,003</td>,
 <td>39,375,424</td>,
 <td>31,242,408</td>,
 <td><a href="../state/vermont">Vermont</a></td>,
 <td>15.13</td>,
 <td>765</td>,
 <td>2,178,915</td>,
 <td>5,530,948</td>,
 <td><a href="../state/virginia">Virginia</a></td>,
 <td>9.48</td>,
 <td>29,635</td>,
 <td>95,509,121</td>,
 <td>118,166,348</td>,
 <td><a href="../state/washington">Washington</a></td>,
 <td>8.00</td>,
 <td>30,983</td>,
 <td>116,756,729</td>,
 <td>90,005,791</td>,
 <td><a href="../state/westvirginia">West Virginia</a></td>,
 <td>8.72</td>,
 <td>14,851</td>,
 <td>67,249,025</td>,
 <td>33,646,813</td>,
 <td><a href="../state/wisconsin">Wisconsin</a></td>,
 <td>10.58</td>,
 <td>15,516</td>,
 <td>65,936,803</td>,
 <td>70,959,549</td>,
 <td><a href="../state/wyoming">Wyoming</a></td>,
 <td>8.09</td>,
 <td>8,673</td>,
 <td>46,112,136</td>,
 <td>16,864,678</td>,
 <td><a href="../state/unitedstates">U.S. Total</a></td>,
 <td>10.53</td>,
 <td>1,094,740</td>,
 <td>4,178,077,114</td>,
 <td>3,859,185,261</td>]

In [10]:
Name = []
ARP = []
NSC = []
NG = []
TRS = []

In [11]:
for d in range(0,len(Table1),5):
    Name.append(Table1[d].text.strip()) 
    ARP.append(Table1[d+1].text.strip())
    NSC.append(Table1[d+2].text.strip())
    NG.append(Table1[d+3].text.strip())
    TRS.append(Table1[d+4].text.strip())

Table2 = pd.DataFrame(data = [Name,ARP,NSC,NG,TRS]).transpose()

In [12]:
Table2.columns = ["Name","Average retail price (cents/kWh)","Net summer capacity (MW)","Net generation (MWh)","Total retail sales (MWh)"]

In [13]:
Table2.head()

,Name,Average retail price (cents/kWh),Net summer capacity (MW),Net generation (MWh),Total retail sales (MWh)
0,Alabama,9.63,"30,118","145,057,994","90,280,456"
1,Alaska,19.36,"2,745","6,247,359","5,972,467"
2,Arizona,10.85,"28,672","111,925,144","78,346,302"
3,Arkansas,7.78,"14,763","67,999,352","49,602,708"
4,California,16.58,"75,926","195,265,408","255,224,272"